<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bionicbruins_proto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EB7F2921EE3D91B005CB177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB7F2A61EE3D91B005CB177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB7F2B11EE3D91B005CB177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
